@model EcolePoleDance.Web.Models.EquipeViewModel
@{
    ViewBag.Title = "Equipe";
}

<script>
    $(window).load(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>

<!--=====================
          Content
======================-->
<section id="content" class="inset__1">
    <div class="ic">More Website Templates at TemplateMonster.com - October 06, 2014!</div>
    <div class="container_12">
    <h2>NOTRE EQUIPE</h2>
        @for (int i = 0; i < Model.Equipe.Count; i++)
        {
            if (i % 2 != 0)
            {
                <div class="grid_6">
                    <div class="block-2">
                        <img src="/images/@Model.Equipe[i].Photo" alt="photo-prof">
                        <div class="extra_wrapper">
                            <h4 class="color1">@Model.Equipe[i].Prenom</h4>
                            <p class="color1">@Model.Equipe[i].InfoProf</p>
                            <p>Cours données : @Model.Equipe[i].CoursDonnees</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            }
            else
            {
                <div class="grid_6">
                    <div class="block-2">
                        <img src="/images/@Model.Equipe[i].Photo" alt="photo-prof">
                        <div class="extra_wrapper">
                            <h4 class="color1">@Model.Equipe[i].Prenom</h4>
                            <p class="color1">@Model.Equipe[i].InfoProf</p>
                            <p>Cours données : @Model.Equipe[i].CoursDonnees</p>
                        </div>
                    </div>
                </div>
            }
        }
           </div>
</section>

