@model EcolePoleDance.Web.Models.TarifsViewModel
@{
    ViewBag.Title = "Zone Membre - Abonnements";
    Layout = "~/Areas/Membre/Views/Shared/_MembreLayout.cshtml";
}
<section id="content" class="color1-background">
    <div class="container_12">
    <h2 class="color1 inset__1">Mes Abonnements</h2>
        <div class="grid_5">
            <h4>Nouvel abonnement</h4>
            <br /><br />
            <p class="instruction">Tous nos abonnements ont la durée de <span class="highlight">3 mois.</span></p>
            <p class="instruction"><span class="highlight">Choisissez l'abonnement</span> que vous voulez souscrire.</p>
            <p class="instruction"><span class="highlight">Payez par virement bancaire</span>. Voici les coordonnées :</p>

            <p>
                Pole Is Art <br>
                Rue du T-Rex, 39 <br>
                1040 Bruxelles <br>
                IBAN: BE22 4444 5555 6666 <br>
            </p>

            <p class="instruction">
                Les administrateurs de l'école valideront votre inscription dès que le montant de l'abonnement sera reglé.
            </p>
            @if (ViewBag.SuccessMessage != null)
            {
                @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }

            @if (ViewBag.ErrorMessage != null)
            {
                @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }

            @if (ViewBag.ErrorNotSelected != null)
            {
                @:<div class="alert alert-danger">@ViewBag.ErrorNotSelected</div>
            }
            <form id="contact-form" method="post">
                @Html.AntiForgeryToken()
                <label for="abonnements">
                    <select name="IdAbonnement" id="listeAbonnements" required>
                        <option disabled selected> -- sélectionnez une option </option>
                        @foreach (var ab in Model.Tarifs)
                        {
                            <option value="@ab.NombreCredits" id="@ab.IdAbonnement" name="TypeAbonnement">@ab.NombreCredits cours - @ab.Montant € (@ab.PrixParCours € / cours)</option>
                        }
                    </select>
                </label>
                <div class="ta__left">
                    <button class="link-1" data-type="submit">Envoyer</button>
                </div>
            </form>
        </div>

        <div class="grid_6 prefix_1">

            <h4>Mon abonnement actuel</h4>
            <div class="block-1">
                <p>Date de validation: (à récuperer REQUETE)</p>
                <p>Date d'échéance: <strong>(à récuperer REQUETE)</strong></p>
                <p>Nombre de Credits total: (à récuperer REQUETE)</p>
                <p>Nombre de crédits restants: <strong>(à récuperer REQUETE)</strong></p>
            </div>
        </div>

        <div class="grid_6 prefix_1">

            <h4>Mes abonnements passés</h4>
            <div class="block-1">
                <ul>
                    @*foreach list*@
                    <li>Date d'échéance: <strong>(à récuperer REQUETE)</strong></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>




