@model EcolePoleDance.Models.LoginRegisterModel

@{
    ViewBag.Title = "Login";
}

@section ContactCSS
    {
    @Styles.Render("~/Content/contact")
}

@section ContactScript
{
    @Scripts.Render("~/bundles/additionalForContacts")
}

<script>
    $(window).load(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>

<!--=====================
          Content
======================-->
<section id="content">
    <div class="ic">More Website Templates at TemplateMonster.com - October 06, 2014!</div>
    <div class="container_12">
        <div class="grid_5">
            <h2 class="color1 inset__1">Login</h2>
        </div>
        <div class="grid_6 prefix_1">
            <p class="instruction">Accedez à votre zone privée pour réserver vos cours et gerer vos abonnements</p>
            <p>Pas encore membre de Pole is Art ? <a href="/Home/Inscription" class="color1">Enregistrez-vous</a></p>
            <form id="contact-form" action="/Account/Login" target="_blank" method="post">
                @Html.AntiForgeryToken()
                <div class="contact-form-loader"></div>
                <label class="email">
                    <input type="text" name="Email" placeholder="-- E-mail" required />
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid name.</span>
                </label>
                <label class="password">
                    <input type="password" name="Password" placeholder="-- Mot de passe" required />
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid name.</span>
                </label>
            <div class="ta__center">
                <button class="link-1" data-type="submit">Connectez-vous</button>
                @if (ViewBag.ErrorNotExistent != null)
                {
                    @:<div class="alert alert-success">@ViewBag.ErrorNotExistent</div>
                }

                @if (ViewBag.ErrorNotValid != null)
                {
                    @:<div class="alert alert-danger">@ViewBag.ErrorNotValid</div>
                }
            </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</section>

@*temporarily disabled*@
@*<div>
        @Html.ActionLink("Retour", "/Home")
    </div>*@
